.container {
  background-color: lightgray;
  padding: 2rem;
}

.title {
  font-weight: 600;
  font-size: 28px;
}

.metaBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.link {
  color: blue;
}

.time {
  color: #3d3939;
}

@media screen and (max-width: 500px) {
  .container {
    padding-bottom: 0;
  }

  .metaBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
  }
}
